@function to-rgb($hex) {
  @return red($hex), green($hex), blue($hex);
}

$colors: (
  // Color 1
  --color-100: #F9FBFE,
  --color-200: #EAF2FE,
  --color-250: #D9E8FE,
  --color-300: #93BEFF,
  --color-400: #5A9BFF,
  --color-500: #0A6BFF,
  --color-600: #065DD8,
  --color-700: #044DB0,
  --color-800: #013C88,
  --color-900: #002C61,
  // Color 2
  --color2-100: #F9FDFE,
  --color2-150: #F9FBFF,
  --color2-200: #E6F8FD,
  --color2-250: #CDF2FC,
  --color2-300: #A2E9FC,
  --color2-400: #67DEFF,
  --color2-500: #2BD5FF,
  --color2-600: #1DB8DE,
  --color2-700: #0F93B8,
  --color2-800: #016E8F,
  --color2-900: #014B61,
  // Color 3
  --color3-100: #F8F9FB,
  --color3-200: #C8D2E1,
  --color3-250: #A4B1C4,
  --color3-300: #8290A5,
  --color3-400: #68778D,
  --color3-500: #56667D,
  --color3-600: #47556A,
  --color3-700: #394558,
  --color3-800: #2B3545,
  --color3-900: #1E2632,
  // Error
  --error-100: #FFF7F8,
  --error-300: #FFA0AC,
  --error-500: #E8374C,
  --error-700: #720B18,
  --error-900: #410008,
  // Success
  --success-100: #FBFFF7,
  --success-300: #D0FFA0,
  --success-500: #8FDA44,
  --success-700: #438006,
  --success-900: #204100,
  // Misc
  --white-000: #FFF,
  --black-000: #000
);

:root {
  // Colors
  @each $var, $color in $colors {
    #{$var}: #{$color};
    #{$var}-rgb: #{to-rgb($color)};
  }

  /*
  USAGE:

  Regular:
  `color: var(--success-600),`

  With opacity:
  `color: rgba(var(--success-600-rgb), 0.15),`

  */
}
