@use '../functions/type-scale' as *;
@use '../functions/all' as *;

// Design width
// These values will be used to calculate the font size per design size
// Example: 18 (font size for a paragraph) / 1440 (design width) * 100 (to get a vw value) = 1,25(vw)
$design-size: 375;
$design-size-tablet: 768;
$design-size-desktop: 1440;

$font-size-base: 16px;
$type-scale: 1.125;
$type-scale-tablet: 1.175;
$type-scale-desktop: 1.25;

// 1.25 scale factor as defined by design
// The order of these sizes should be taken into consideration since that is the order of the classNames
// Example: 14 = --fluid-2-xl-size, it's the second value in the row

// Heading sizes - mobile (heading/XL)
$fluid-sizes: get-scale($font-size-base, $type-scale);
@debug 'Mobile', $fluid-sizes;

// $fluid-sizes-tablet: get-scale($font-size-base, $type-scale-tablet);
// @debug 'Tablet', $fluid-sizes-tablet;

// Heading sizes - desktop (heading/XL)
$fluid-sizes-desktop: get-scale($font-size-base, $type-scale-desktop);
@debug 'Desktop', $fluid-sizes-desktop;

:root {
  // Define font
  --font-stack-base: system-ui, -apple-system, 'SF Pro Display',
    'BlinkMacSystemFont', 'Helvetica', 'Lato', 'Arial', 'Segoe UI', 'Verdana',
    sans-serif;

  // Define line-height
  // Based on TailwindCSS: https://tailwindcss.com/docs/line-height
  --leading-none: 1;
  --leading-tight: 1.25;
  --leading-snug: 1.375;
  --leading-normal: 1.5;
  --leading-relaxed: 1.625;
  --leading-loose: 2;

  // Define letter-spacing
  // Based on TailwindCSS: https://tailwindcss.com/docs/letter-spacing
  --tracking-tighter: -0.05em;
  --tracking-tight: -0.025em;
  --tracking-normal: 0;
  --tracking-wide: 0.025em;
  --tracking-wider: 0.05em;
  --tracking-widest: 0.1em;

  // Define minimum font-size for 375px and below
  @media screen and (max-width: $bp-mobile-md) {
    @each $size in $fluid-sizes {
      $i: index($fluid-sizes, $size);

      --heading-#{$i}-xl: #{$size}px;
    }

    // Heading sizes
    // Heading S
    --heading-s: 14px;

    // Heading M
    --heading-m: 16px;

    // Heading L
    --heading-l: 18px;

    // Body sizes
    // Body S
    --body-s: 14px;

    // Body M
    --body-m: 16px;

    // Body L
    --body-l: 18px;

    // Body XL
    --body-1-xl: 20px;

    // Body 2XL
    --body-2-xl: 22px;
  }

  // Define heading size mobile
  // $i is the value from top to bottom, starting at 1, creating a variable that will be used for each heading size
  // Example: --heading-#{$i}-xl = --heading-3-xl. this value is used for the h3
  // Fluid
  @each $size in $fluid-sizes {
    $i: index($fluid-sizes, $size);

    --heading-#{$i}-xl: calc(((#{$size} / #{$design-size}) * 100) * 1vw);
  }

  // Heading sizes
  // Heading S
  --heading-s: calc(((14 / #{$design-size}) * 100) * 1vw);

  // Heading M
  --heading-m: calc(((16 / #{$design-size}) * 100) * 1vw);

  // Heading L
  --heading-l: calc(((18 / #{$design-size}) * 100) * 1vw);

  // Body sizes mobile
  // Body S
  --body-s: calc(((14 / #{$design-size}) * 100) * 1vw);

  // Body M
  --body-m: calc(((16 / #{$design-size}) * 100) * 1vw);

  // Body L
  --body-l: calc(((18 / #{$design-size}) * 100) * 1vw);

  // Body XL
  --body-1-xl: calc(((18 / #{$design-size}) * 100) * 1vw);

  // Body 2XL
  --body-2-xl: calc(((18 / #{$design-size}) * 100) * 1vw);

  // TODO: Design needs to define tabled sizes
  // @media screen and (min-width: $bp-tablet-md) {
  //   // Define fluid heading size tablet-md
  //   @each $size in $fluid-sizes {
  //     $i: index($fluid-sizes, $size);

  //     --heading-#{$i}-xl: calc(((#{$size} / #{$design-size-tablet}) * 100) * 1vw);
  //   }
  // }

  // Desktop-xs
  @media screen and (min-width: $bp-desktop-xs) {
    // Define heading size desktop-xs
    @each $size in $fluid-sizes-desktop {
      $i: index($fluid-sizes-desktop, $size);

      --heading-#{$i}-xl: calc(
        ((#{$size} / #{$design-size-desktop}) * 100) * 1vw
      );
    }

    // Heading sizes desktop
    // Heading S
    --heading-s: calc(((14 / #{$design-size-desktop}) * 100) * 1vw);

    // Heading M
    --heading-m: calc(((16 / #{$design-size-desktop}) * 100) * 1vw);

    // Heading L
    --heading-l: calc(((20 / #{$design-size-desktop}) * 100) * 1vw);

    // Body sizes desktop
    // Body S
    --body-s: calc(((14 / #{$design-size-desktop}) * 100) * 1vw);

    // Body M
    --body-m: calc(((16 / #{$design-size-desktop}) * 100) * 1vw);

    // Body L
    --body-l: calc(((20 / #{$design-size-desktop}) * 100) * 1vw);

    // Body XL
    --body-1-xl: calc(((24 / #{$design-size-desktop}) * 100) * 1vw);

    // Body 2XL
    --body-2-xl: calc(((32 / #{$design-size-desktop}) * 100) * 1vw);
  }

  // Desktop
  // Define max sizes for 1440px and above
  @media screen and (min-width: $bp-desktop-lg) {
    @each $size in $fluid-sizes-desktop {
      $i: index($fluid-sizes-desktop, $size);

      --heading-#{$i}-xl: #{$size}px;
    }

    // Heading sizes
    // Heading S
    --heading-s: 14px;

    // Heading M
    --heading-m: 16px;

    // Heading L
    --heading-l: 20px;

    // Body sizes
    // Body S
    --body-s: 14px;

    // Body M
    --body-m: 16px;

    // Body L
    --body-l: 20px;

    // Body XL
    --body-1-xl: 24px;

    // Body 2XL
    --body-2-xl: 32px;
  }
}
