%heading {
  font-weight: 600;
  color: var(--black-000);
  line-height: var(--leading-tight);
  letter-spacing: var(--tracking-normal);
}

%paragraph {
  font-weight: 400;
  color: var(--black-000);
  line-height: var(--leading-normal);
  letter-spacing: var(--tracking-normal);
}

%quote {
  font-weight: 500;
  font-style: italic;
  color: var(--black--000);
  line-height: var(--leading-relaxed);
  letter-spacing: var(--tracking-normal);
}

%link {
  font-weight: 700;
  text-decoration: underline;
  color: var(--color-500);
  line-height: var(--leading-none);
  letter-spacing: var(--tracking-normal);
}

@mixin h1 {
  @extend %heading;
  font-size: var(--heading-6-xl);
}

@mixin h2 {
  @extend %heading;
  font-size: var(--heading-3-xl);
}

@mixin h3 {
  @extend %heading;
  font-size: var(--heading-2-xl);
}

@mixin h4 {
  @extend %heading;
  font-size: var(--heading-1-xl);
}

@mixin h5 {
  @extend %heading;
  font-size: var(--heading-l);
}

@mixin h6 {
  @extend %heading;
  font-size: var(--heading-m);
}

@mixin streamer {
  @extend %paragraph;
  font-size: var(--streamer-size);
  font-weight: 500;
}

@mixin quote-lg {
  @extend %quote;
}

@mixin quote-md {
  @extend %quote;
}

@mixin body-s {
  @extend %paragraph;
  font-size: var(--body-s);
}

@mixin body-m {
  @extend %paragraph;
  font-size: var(--body-m);
}

@mixin body-l {
  @extend %paragraph;
  font-size: var(--body-l);
}

@mixin body-1-xl {
  @extend %paragraph;
  font-size: var(--body-1-xl);
}

@mixin body-2-xl {
  @extend %paragraph;
  font-size: var(--body-2-xl);
}

@mixin textlink-lg {
  @extend %link;
}

@mixin textlink-md {
  @extend %link;
}

@mixin textlink-sm {
  @extend %link;
}

@mixin caption {
  font-weight: 400;
}

@mixin eyebrow {
  text-transform: uppercase;
  font-weight: 600;
}

@mixin footerlink-md {
  color: var(--black-000);
}

@mixin footerlink-sm {
  color: var(--black-000);
}

@mixin button-lg {
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
}

@mixin button-md {
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
}

@mixin button-sm {
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
}

// Bold
@font-face {
  font-family: 'SF Pro Display';
  src:
    url('/fonts/SF-Pro-Display-Bold.woff2') format('woff2'),
    url('/fonts/SF-Pro-Display-Bold.woff') format('woff'),
    url('/fonts/SF-Pro-Display-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// SemiBold
@font-face {
  font-family: 'SF Pro Display';
  src:
    url('/fonts/SF-Pro-Display-Semibold.woff2') format('woff2'),
    url('/fonts/SF-Pro-Display-Semibold.woff') format('woff'),
    url('/fonts/SF-Pro-Display-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

// Medium
@font-face {
  font-family: 'SF Pro Display';
  src:
    url('/fonts/SF-Pro-Display-Medium.woff2') format('woff2'),
    url('/fonts/SF-Pro-Display-Medium.woff') format('woff'),
    url('/fonts/SF-Pro-Display-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

// Regular
@font-face {
  font-family: 'SF Pro Display';
  src:
    url('/fonts/SF-Pro-Display-Regular.woff2') format('woff2'),
    url('/fonts/SF-Pro-Display-Regular.woff') format('woff'),
    url('/fonts/SF-Pro-Display-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// IBM Plex Mono - Regular
@font-face {
  font-family: 'IBM Plex Mono';
  src:
    url('/fonts/IBMPlexMono-Regular.woff2') format('woff2'),
    url('/fonts/IBMPlexMono-Regular.woff') format('woff'),
    url('/fonts/IBMPlexMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
