// Media queries can't be used as native CSS variables (yet)
$bp-mobile-sm: 320px;
$bp-mobile-md: 375px;
$bp-mobile-lg: 414px;
$bp-tablet-sm: 562px;
$bp-tablet-md: 768px;
$bp-tablet-lg: 920px;
$bp-desktop-xs: 1024px;
$bp-desktop-sm: 1120px;
$bp-mobile-nav: 1240px;
$bp-desktop-md: 1280px;
$bp-desktop-lg: 1536px;
