.slide-indicator {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.indicator {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background-color: var(--raven-gray-100);
  margin: 0 12px;
  cursor: pointer;

  &.active {
    background-color: var(--adt-brand-green-500);
  }

  &:nth-last-child(1) {
    margin-right: 0;
  }
}
