.switch {
  --size: 4;
  --factor: 1;
  --default-blue: var(--color-500);
  --hover-blue: var(--color-600);
  --gray: var(--color3-300);
  --default-gray: var(--color3-400);
  --hover-gray: var(--color3-500);
  --white: var(--white-000);
  --font-size: 14px;

  position: relative;
  display: inline-block;
  width: calc(var(--size) * var(--factor) * 12px);
  height: calc(var(--size) * var(--factor) * 6px);

  // Sizes
  &.lg {
    --factor: 1.2;
    --font-size: 18px;
  }

  &.sm {
    --factor: .8;
    --font-size: 12px;
  }

  // States
  &:focus:not(.disabled) {
    outline: 0;

    .slider {
      border-color: var(--hover-blue);
      box-shadow: 0 0 0 2px var(--default-blue);
    }

    input:checked + .slider {
      border-color: var(--white);
    }

    &:hover input:checked + .slider {
      border-color: var(--white);
      box-shadow: 0 0 0 2px var(--hover-blue);
    }
  }

  &:hover:not(.disabled) {
    .slider {
      border-color: var(--hover-gray);

      &::before {
        background-color: var(--hover-gray);
      }
    }

    input:checked + .slider {
      border-color: var(--hover-blue);
      background-color: var(--hover-blue);

      &::before {
        background-color: var(--white);
      }
    }
  }

  &.disabled {
    outline: 0;

    .slider {
      cursor: not-allowed;
    }

    input {
      & + .slider {
        background-color: var(--color3-100);
        border-color: var(--color3-200);

        &::before {
          background-color: var(--color3-200);
        }
      }

      &:checked + .slider {
        background-color: var(--color3-200);
        border-color: var(--color3-200);

        &::before {
          background-color: var(--gray);
        }
      }
    }
  }

  // Error
  &.error {
    &:focus:not(.disabled) {
      outline: 0;

      .slider {
        border-color: var(--default-blue);
        box-shadow: 0 0 0 2px var(--default-blue);
      }

      input:checked + .slider {
        border-color: var(--white);
      }

      &:hover input:checked + .slider {
        border-color: var(--white);
        box-shadow: 0 0 0 2px var(--error-500);
      }
    }

    &:hover:not(.disabled) {
      .slider {
        border-color: var(--hover-gray);

        &::before {
          background-color: var(--hover-gray);
        }
      }

      input:checked + .slider {
        border-color: var(--error-500);
        background-color: var(--error-500);

        &::before {
          background-color: var(--white);
        }
      }
    }

    &.disabled {
      outline: 0;

      .slider {
        cursor: not-allowed;
      }

      input {
        & + .slider {
          background-color: var(--error-100);
          border-color: var(--error-500);

          &::before {
            background-color: var(--error-300);
          }
        }

        &:checked + .slider {
          background-color: var(--error-300);
          border-color: var(--error-500);

          &::before {
            background-color: var(--white);
          }
        }
      }
    }

    .slider {
      border-color: var(--error-500);
    }

    input:checked + .slider {
      border-color: var(--error-500);
      background-color: var(--error-500);
    }
  }

  // Children
  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider {
      border-color: var(--default-blue);
      background-color: var(--default-blue);
    }

    &:checked + .slider::before {
      background-color: var(--white);
      transform: translateX(calc(var(--size) * var(--factor) * 5px));
    }
  }

  label {
    position: absolute;
    z-index: 2;
    color: var(--color3-600);
    left: calc(var(--size) * var(--factor) * 12px + 8px);
    top: 3px;
    font-size: var(--font-size);
    display: flex;
    align-items: center;

    &.sm svg {
      width: 16px;
      height: 16px;
      margin-left: 8px;
    }

    &.md svg {
      width: 20px;
      height: 20px;
      margin-left: 8px;
    }

    &.lg svg {
      width: 24px;
      height: 24px;
      margin-left: 12px;
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--white);
    transition: border-color 200ms, background-color 200ms;
    border-radius: 34px;
    border: 1px solid var(--gray);
    box-sizing: border-box;

    &::before {
      position: absolute;
      content: '';
      height: calc(var(--size) * var(--factor) * 4px);
      width: calc(var(--size) * var(--factor) * 4px);
      left: 4px;
      background-color: var(--gray);
      bottom: calc(var(--size) * var(--factor) * .75px);
      transition: background-color 200ms, transform 200ms;
      border-radius: 50%;
    }
  }
}
