[data-col] {
  max-width: 100%;
}

@for $i from 1 through 12 {
  [data-span="#{$i}"] {
    grid-column: span var(--span) / span var(--span);
    grid-column-start: var(--start);
  }
}

[data-end] {
  grid-column-end: var(--end);
}

@media screen and (max-width: $bp-desktop-sm) {
  @for $i from 10 through 12 {
    [data-span="#{$i}"] {
      grid-column: 1 / -1;
    }
  }

  @for $i from 1 through 3 {
    [data-span="#{$i}"] {
      grid-column: span 6 / span 6;
    }
  }
}

@media screen and (max-width: $bp-tablet-lg) {
  @for $i from 4 through 12 {
    [data-span="#{$i}"] {
      grid-column: 1 / -1;
    }
  }
}

@media screen and (max-width: $bp-tablet-md) {
  @for $i from 1 through 3 {
    [data-span="#{$i}"] {
      grid-column: 1 / -1;
    }
  }
}
