.input {
  // Input background tokens
  --input-default-background-color: var(--default-input-background-color);
  --input-disabled-background-color: var(--disabled-input-background-color);
  --input-disabled-error-background-color: var(--disabled-error-input-background-color);

  // Input border tokens
  --input-default-border-color: var(--default-border-color);
  --input-hover-border-color: var(--hover-border-color);
  --input-active-border-color: var(--active-border-color);
  --input-focus-border-color: var(--focus-border-color);
  --input-disabled-border-color: var(--disabled-border-color);
  --input-error-border-color: var(--error-border-color);

  display: inline-flex;
  flex-direction: column;
  contain: layout;

  :global(.icon-warning) {
    position: absolute;
    bottom: 10px;
    right: 0;
  }

  &.sm, &.md {
    :global(.icon-warning) {
      right: 12px;
    }
  }

  &.lg {
    :global(.icon-warning){
      right: 14px;
      bottom: 13px;
    }
  }

  .label {
    margin-bottom: 6px;
    display: inline-flex;
    align-items: center;
    color: var(--black-000);

    svg {
      margin-left: 8px;
    }

    span {
      color: var(--black-000);
      margin-left: 12px;
    }
  }
}

.input-element {
  color: var(--color3-900);
  background: var(--input-default-background-color);
  border: 1px solid var(--input-default-border-color);
  outline: none;
  transition: border-color var(--fast-transition) var(--ease);

  &::placeholder {
    color: var(--color3-400);
  }

  &:hover {
    border-color: var(--input-hover-border-color);
  }

  &.error {
    border-color: var(--input-error-border-color);
  }

  &.lg {
    font-size: 18px;
    line-height: 20px;
    padding: 14px 16px;
  }

  &.md {
    font-size: 16px;
    line-height: 20px;
    padding: 10px 12px;
  }

  &.sm {
    font-size: 14px;
    line-height: 18px;
    padding: 8px;
  }

  &:focus {
    border-color: var(--input-focus-border-color);
    outline: 2px solid var(--color-500);
    caret-color: var(--black-000);
  }

  &:disabled {
    background: var(--input-disabled-background-color);
    border-color: var(--input-disabled-border-color);
    cursor: not-allowed;

    &.error {
      background: var(--input-error-background-color);
      border-color: var(--input-error-border-color);
    }
  }
}
