.input {
  display: inline-flex;
  flex-direction: column;
  contain: layout;

  svg {
    position: absolute;
    bottom: 10px;
    right: 0;
  }

  &.sm,
  &.md {
    svg {
      right: 12px;
    }
  }

  &.lg {
    svg {
      right: 14px;
      bottom: 12px;
    }
  }

  .label {
    margin-bottom: 6px;
    display: inline-flex;
    align-items: center;
    color: var(--black-000);

    svg {
      margin-left: 8px;
    }

    span {
      color: var(--black-000);
      margin-left: 12px;
    }
  }
}

.input-element {
  color: var(--color3-900);
  background-color: var(--input-default-background-color);
  border: 1px solid var(--input-default-border-color);
  outline: 0;
  transition: border-color var(--fast-transition) var(--ease);

  &::placeholder {
    color: var(--color3-400);
  }

  &.lg {
    font-size: 18px;
    line-height: 20px;
    padding: 14px 16px;
  }

  &.md {
    font-size: 16px;
    line-height: 20px;
    padding: 10px 12px;
  }

  &.sm {
    font-size: 14px;
    line-height: 18px;
    padding: 8px;
  }

  &:hover {
    border-color: var(--input-hover-border-color);
  }

  &:focus,
  &:focus-within {
    border-color: var(--input-focus-border-color);
    outline: 2px solid var(--input-focus-ring-color);
    caret-color: var(--black-000);
  }

  &:disabled {
    background-color: var(--input-disabled-background-color);
    border-color: var(--input-disabled-border-color);
    cursor: not-allowed;
  }

  &.has-error {
    border-color: var(--input-error-border-color);

    &:disabled {
      background-color: var(--input-error-disabled-background-color);
    }
  }
}
