@use "../config/fonts";

h1 {
  @include fonts.h1;
}

h2 {
  @include fonts.h2;
}

h3 {
  @include fonts.h3;
}

h4 {
  @include fonts.h4;
}

h5 {
  @include fonts.h5;
}

h6 {
  @include fonts.h6;
}

.heading-s {
  @extend %heading;
  font-size: var(--heading-s);
}

.heading-m {
  @extend %heading;
  font-size: var(--heading-m);
}

.heading-l {
  @extend %heading;
  font-size: var(--heading-l);
}

.heading-1-xl {
  @extend %heading;
  font-size: var(--heading-1-xl);
}

.heading-2-xl {
  @extend %heading;
  font-size: var(--heading-2-xl);
}

.heading-3-xl {
  @extend %heading;
  font-size: var(--heading-3-xl);
}

.heading-4-xl {
  @extend %heading;
  font-size: var(--heading-4-xl);
}

.heading-5-xl {
  @extend %heading;
  font-size: var(--heading-5-xl);
}

.heading-6-xl {
  @extend %heading;
  font-size: var(--heading-6-xl);
}

.heading-7-xl {
  @extend %heading;
  font-size: var(--heading-7-xl);
}

.heading-8-xl {
  @extend %heading;
  font-size: var(--heading-8-xl);
}

.heading-9-xl {
  @extend %heading;
  font-size: var(--heading-9-xl);
}

p {
  @extend %paragraph;

  &.streamer {
    @include fonts.streamer;
  }

  &.quote-lg {
    @include fonts.quote-lg;
  }

  &.quote-md {
    @include fonts.quote-md;
  }

  &.body-s {
    @include fonts.body-s;
  }

  &.body-m {
    @include fonts.body-m;
  }

  &.body-l {
    @include fonts.body-l;
  }

  &.body-1-xl {
    @include fonts.body-1-xl;
  }

  &.body-2-xl {
    @include fonts.body-2-xl;
  }
}

.textlink-lg {
  @include fonts.textlink-lg;
}

.textlink-md {
  @include fonts.textlink-md;
}

.textlink-sm {
  @include fonts.textlink-sm;
}

.caption {
  @include fonts.caption;
}

.eyebrow {
  @include fonts.eyebrow;
}

.footerlink-md {
  @include fonts.footerlink-md;
}

.footerlink-sm {
  @include fonts.footerlink-sm;
}

.button-sm {
  @include fonts.button-sm;
}

.button-md {
  @include fonts.button-md;
}

.button-lg {
  @include fonts.button-lg;
}

@mixin list-style {
  content: '';
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 12px;
  text-align: center;
  width: 12px;
}
