h1,
.h1 {
  @include h1;
}

h2,
.h2 {
  @include h2;
}

h3,
.h3 {
  @include h3;
}

h4,
.h4 {
  @include h4;
}

h5,
.h5 {
  @include h5;
}

h6,
.h6 {
  @include h6;
}

.fluid-1-xl-size {
  font-size: var(--fluid-1-xl-size);
}

.fluid-2-xl-size {
  font-size: var(--fluid-2-xl-size);
}

.fluid-3-xl-size {
  font-size: var(--fluid-3-xl-size);
}

.fluid-4-xl-size {
  font-size: var(--fluid-4-xl-size);
}

.fluid-5-xl-size {
  font-size: var(--fluid-5-xl-size);
}

.fluid-6-xl-size {
  font-size: var(--fluid-6-xl-size);
}

.fluid-7-xl-size {
  font-size: var(--fluid-7-xl-size);
}

.fluid-8-xl-size {
  font-size: var(--fluid-8-xl-size);
}

.fluid-9-xl-size {
  font-size: var(--fluid-9-xl-size);
}

.fluid-10-xl-size {
  font-size: var(--fluid-10-xl-size);
}

.fluid-11-xl-size {
  font-size: var(--fluid-11-xl-size);
}

.fluid-12-xl-size {
  font-size: var(--fluid-12-xl-size);
}

.fluid-13-xl-size {
  font-size: var(--fluid-13-xl-size);
}

p {
  @extend %paragraph;

  &.streamer {
    @include streamer;
  }

  &.quote-lg {
    @include quote-lg;
  }

  &.quote-md {
    @include quote-md;
  }

  &.body-lg {
    @include body-lg;
  }

  &.body-md {
    @include body-md;
  }

  &.body-sm {
    @include body-sm;
  }
}

.textlink-lg {
  @include textlink-lg;
}

.textlink-md {
  @include textlink-md;
}

.textlink-sm {
  @include textlink-sm;
}

.caption {
  @include caption;
}

.eyebrow {
  @include eyebrow;
}

.footerlink-md {
  @include footerlink-md;
}

.footerlink-sm {
  @include footerlink-sm;
}

.button-sm {
  @include button-sm;
}

.button-md {
  @include button-md;
}

.button-lg {
  @include button-lg;
}

@mixin list-style {
  content: '';
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 12px;
  text-align: center;
  width: 12px;
}
