details {
  background-color: var(--color2-150);
  overflow-anchor: none;
  transition: transform var(--regular-transition) ease-in;

  p {
    padding: 28px 60px;
    padding-top: 0;
  }

  &[open] {
    background-color: var(--color2-150);

    svg:nth-child(2){
    display: block;
    }

    &:hover{
      background-color: var(--color-200);
      svg:first-child{
        display: none;
      }
    }

    svg:last-child {
      transform: rotate(180deg) !important;
      transition: transform var(--regular-transition) ease-in;
    }
  }

  summary {
    height: 64px;
    padding: 20px;
    padding-left: 24px;
    padding-right: 0;
    display: flex;
    align-items: center;

    &:focus {
      outline: none;
    }

    svg {
      margin-right: 20px;
    }

    div {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &:hover {
      background-color: var(--color-200);

      svg:first-child {
        display: block;
      }
    }

    &::-webkit-details-marker {
      display: none;
    }

    svg:not(:nth-last-child(1)) {
      display: none;
    }
  }
}
