.textarea {
  display: flex;
  flex-direction: column;
  contain: layout;
  position: relative;

  label {
    margin-bottom: 6px;
    display: inline-flex;
    align-items: center;
    color: var(--black-000);

    svg {
      margin-left: 8px;
      position: absolute;
      right: 17px;
      top: 40px;
    }

    span {
      color: var(--black-000);
      margin-left: 12px;
    }
  }
}

.element {
  color: var(--color3-900);
  background: var(--white-000);
  border: 2px solid var(--color3-300);
  outline: none;
  transition: border-color var(--fast-transition) var(--ease);
  resize: none;
  min-height: 120px;
  width: 100%;
  height: 100%;
  padding: 16px;

  &::placeholder {
    color: var(--color3-400);
  }

  &:hover {
    border-color: var(--color3-400);
  }

  &:focus {
    border: 2px solid var(--color-500);
    caret-color: var(--color3-900);
  }

  &:disabled {
    cursor: not-allowed;
    background: var(--color3-100);
    border: 2px solid var(--color3-200);
    color: var(--color3-300);

    &::placeholder {
      color: var(--color3-250);
    }

    &.error {
      background-color: var(--error-100);
      border: 2px solid var(--error-300);
    }
  }

  &.error {
    border-color: red;
  }

  &.lg {
    font-size: 18px;
    line-height: 20px;
    min-width: 320px;

    @media screen and (max-width: $bp-mobile-lg) {
      font-size: 17px;
      line-height: 22px;
    }
  }

  &.md {
    font-size: 16px;
    line-height: 20px;
    min-width: 280px;
  }

  &.sm {
    font-size: 14px;
    line-height: 18px;
    min-height: 100px;
    min-width: 240px;
  }
}
