.button-group {
  display: flex;
  flex-wrap: wrap;

  &.horizontal {
    flex-direction: row;

    .button {
      margin-right: 16px;
    }
  }

  &.vertical {
    flex-direction: column;

    .button {
      margin-bottom: 16px;
    }
  }
}
