/*
  Convert px to vw value, example:
  Mobile:
  font-size: get-vw(20);

  Desktop:
  font-size: get-vw-desktop(24);

  Formula: (size element / design width * 100) = size in VW
*/

$design-size: 375;
$design-size-desktop: 1440;

// Mobile
@mixin get-vw($target) {
  font-size: (($target / $design-size) * 100) * 1vw;
}

// Desktop
@mixin get-vw-desktop($target) {
  font-size: ((#{$target} / #{$design-size-desktop}) * 100) * 1vw;
}

// Tablet?
