@import '../../../styles/config/fonts';

.button {
  font-family: var(--font-stack-base);
  display: inline-block;
  background: none;
  cursor: pointer;

  &.disabled {
    cursor: not-allowed;
  }

  &.text-link {
    border-radius: unset;
  }

  &.fullwidth {
    width: 100%;
  }
}

.button-content {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &.lg {
    @include button-lg;
    font-size: 20px;
    line-height: 20px;
    padding: 0 16px;
    height: 48px;
  }

  &.md {
    @include button-md;
    font-size: 16px;
    line-height: 16px;
    padding: 0 12px;
    height: 40px;
  }

  &.sm {
    @include button-sm;
    font-size: 14px;
    line-height: 14px;
    padding: 0 8px;
    height: 32px;
  }

  &.primary {
    background-color: var(--color-500);
    color: var(--white-000);

    &:hover {
      background-color: var(--color-600);
    }

    &:active {
      background-color: var(--color-600);
      color: var(--color-100);
    }

    &.disabled {
      background-color: var(--color-500);
      color: var(--color-300);
    }
  }

  &.secondary {
    background-color: var(--color3-300);
    color: var(--white-000);

    &:hover {
      background-color: var(--color3-600);
    }

    &:active {
      background-color: var(--color3-600);
      color: var(--color3-100);
    }

    &.disabled {
      background-color: var(--color3-250);
      color: var(--color3-500);
    }
  }

  &.tertiary {
    color: var(--color3-600);
    padding: 0;

    &:hover {
      color: var(--color3-800);
    }

    &:active {
      color: var(--color3-900);
    }

    &.disabled {
      color: var(--color3-300);
    }
  }

  &.text-link {
    color: var(--color-500);
    text-decoration: underline;
    padding: 0;
    height: auto;

    &.disabled {
      opacity: .6;
    }
  }

  &.fullwidth {
    width: 100%;
  }
}
