.button {
  // Button tokens
  --button-border-radius: var(--border-radius-none);

  // Button primary tokens
  --button-primary-default-background-color: var(--primary-default-background-color);
  --button-primary-default-content-color: var(--primary-default-content-color);
  --button-primary-hover-background-color: var(--primary-hover-background-color);
  --button-primary-hover-content-color: var(--primary-hover-content-color);
  --button-primary-active-background-color: var(--primary-active-background-color);
  --button-primary-active-content-color: var(--primary-active-content-color);
  --button-primary-disabled-background-color: var(--primary-disabled-background-color);
  --button-primary-disabled-content-color: var(--primary-disabled-content-color);

  // Button secondary tokens
  --button-secondary-default-background-color: var(--secondary-default-background-color);
  --button-secondary-default-content-color: var(--secondary-default-content-color);
  --button-secondary-hover-background-color: var(--secondary-hover-background-color);
  --button-secondary-hover-content-color: var(--secondary-hover-content-color);
  --button-secondary-active-background-color: var(--secondary-active-background-color);
  --button-secondary-active-content-color: var(--secondary-active-content-color);
  --button-secondary-disabled-background-color: var(--secondary-disabled-background-color);
  --button-secondary-disabled-content-color: var(--secondary-disabled-content-color);

  // Button tertiary tokens
  --button-tertiary-default-content-color: var(--tertiary-default-content-color);
  --button-tertiary-hover-content-color: var(--tertiary-hover-content-color);
  --button-tertiary-active-content-color: var(--tertiary-active-content-color);
  --button-tertiary-disabled-content-color: var(--tertiary-disabled-content-color);

  // Button focus ring token
  --button-focus-ring-color: var(--focus-ring-color);

  font-family: var(--font-stack-base);
  display: inline-block;
  background: none;
  cursor: pointer;

  &.disabled {
    cursor: not-allowed;
  }

  &.text-link {
    border-radius: unset;
  }

  &.fullwidth {
    width: 100%;
  }

  &:focus,
  &:focus-within {
    outline: 2px solid var(--button-focus-ring-color);
  }
}

.button-content {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--button-border-radius);

  &.lg {
    @include button-lg;
    font-size: 20px;
    line-height: 20px;
    padding: 0 16px;
    height: 48px;
  }

  &.md {
    @include button-md;
    font-size: 16px;
    line-height: 16px;
    padding: 0 12px;
    height: 40px;
  }

  &.sm {
    @include button-sm;
    font-size: 14px;
    line-height: 14px;
    padding: 0 8px;
    height: 32px;
  }

  &.primary {
    background-color: var(--button-primary-default-background-color);
    color: var(--button-primary-default-content-color);

    &:hover {
      background-color: var(--button-primary-hover-background-color);
      color: var(--button-primary-hover-content-color);
    }

    &:active {
      background-color: var(--button-primary-active-background-color);
      color: var(--button-primary-active-content-color);
    }

    &.disabled {
      background-color: var(--button-primary-disabled-background-color);
      color: var(--button-primary-disabled-content-color);
    }
  }

  &.secondary {
    background-color: var(--button-secondary-default-background-color);
    color: var(--button-secondary-default-content-color);

    &:hover {
      background-color: var(--button-secondary-hover-background-color);
      color: var(--secondary-hover-content-color);
    }

    &:active {
      background-color: var(--button-secondary-active-background-color);
      color: var(--button-secondary-active-content-color);
    }

    &.disabled {
      background-color: var(--button-secondary-disabled-background-color);
      color: var(--button-secondary-disabled-content-color);
    }
  }

  &.tertiary {
    color: var(--button-tertiary-default-content-color);
    padding: 0;

    &:hover {
      color: var(--button-tertiary-hover-content-color);
    }

    &:active {
      color: var(--button-tertiary-active-content-color);
    }

    &.disabled {
      color: var(--tertiary-disabled-content-color);
    }
  }

  &.fullwidth {
    width: 100%;
  }
}
