.button {
  font-family: var(--font-stack-base);
  display: inline-block;
  font-weight: 700;
  border-radius: 8px;
  background: none;
  cursor: pointer;

  &.disabled {
    cursor: not-allowed;
  }

  &.text-link {
    border-radius: unset;
  }
}

.button-content {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;

  &.sm {
    font-size: 14px;
    line-height: 1.43;
    padding: 0 24px;
    height: 40px;
    min-width: 80px;
  }

  &.md {
    font-size: 16px;
    line-height: 1.5;
    padding: 0 24px;
    min-width: 100px;
    height: 48px;
  }

  &.lg {
    font-size: 20px;
    line-height: 1.4;
    padding: 0 44px;
    height: 64px;
    min-width: 140px;
  }

  &.primary {
    background-color: var(--seeds-900);
    color: var(--white);

    &:hover {
      background-color: var(--seeds-700);
    }

    &:active {
      color: var(--skin-100);
      background-color: var(--seeds-800);
    }

    &.disabled {
      color: var(--seeds-400);
      background-color: var(--seeds-200);
    }
  }

  &.primary-alt {
    background-color: transparent;
    color: var(--white);
    border: 2px solid var(--seeds-200);

    &:hover {
      color: var(--seeds-300);
      border-color: var(--seeds-400);
    }

    &:active {
      background-color: var(--seeds-800);
    }

    &.disabled {
      color: var(--seeds-400);
      background-color: var(--seeds-700);
      border-color: var(--seeds-700);
    }
  }

  &.secondary {
    background-color: var(--white);
    color: var(--seeds-900);
    border: 2px solid var(--seeds-900);

    &:hover {
      color: var(--seeds-700);
      border-color: var(--seeds-700);
    }

    &:active {
      color: var(--seeds-800);
      border-color: var(--seeds-800);
    }

    &.disabled {
      color: var(--seeds-400);
      background-color: var(--seeds-200);
      border-color: transparent;
    }
  }

  &.text-link {
    color: var(--flesh-500);
    padding: 0;
    height: auto;

    svg {
      margin-left: 8px;
    }

    &.disabled {
      opacity: .6;
    }
  }
}
