[data-cell] {
  max-width: 100%;

  &[data-span] {
    grid-column: span var(--span);
  }

  &[data-span='full'] {
    grid-column: var(--span);
  }

  &[data-start] {
    grid-column-start: var(--start);
  }

  &[data-end] {
    grid-column-end: var(--end);
  }
  // grid-column-span: var(--span, auto);
  // &,
  // & > * {
  //   align-self: var(--align, stretch);
  //   justify-self: var(--justify, stretch);
  // }
}
