@import '../src/styles/master.scss';

body {
  background-color: unset;

  * {
    font-family: inherit;
  }
}

#root {
  padding: 24px;

  @media screen and (max-width: $bp-tablet-sm) {
    padding: 0;
  }
}

.input-wrapper {
  display: flex;
  flex-direction: column;

  > * {
    margin: 8px 0;
  }
}
