.checkbox {
  // Checkbox border radius tokens
  --checkbox-border-radius: var(--border-radius-md);

  // Checkbox background colors
  --checkbox-default-background-color: var(--input-default-background-color);
  --checkbox-checked-background-color: var(--input-checked-background-color);
  --checkbox-checked-hover-background-color: var(--input-checked-hover-background-color);
  --checkbox-disabled-background-color: var(--input-disabled-background-color);
  --checkbox-disabled-checked-background-color: var(--input-disabled-checked-background-color);
  --checkbox-error-checked-background-color: var(--input-error-checked-background-color);
  --checkbox-error-disabled-background-color: var(--input-error-disabled-background-color);
  --checkbox-error-checked-disabled-background-color: var(--input-error-checked-disabled-background-color);

  // Checkbox border tokens
  --checkbox-default-border-color: var(--input-default-border-color);
  --checkbox-hover-border-color: var(--input-hover-border-color);
  --checkbox-checked-border-color: var(--input-checked-border-color);
  --checkbox-checked-hover-border-color: var(--input-checked-hover-border-color);
  --checkbox-active-border-color: var(--input-active-border-color);
  --checkbox-focus-border-color: var(--input-focus-border-color);
  --checkbox-focus-checked-border-color: var(--input-focus-checked-border-color);
  --checkbox-disabled-border-color: var(--input-disabled-border-color);
  --checkbox-error-border-color: var(--input-error-border-color);

  // Checkbox focus ring token
  --checkbox-focus-ring-color: var(--focus-ring-color);

  position: relative;
  display: inline-flex;
  align-items: center;
  color: var(--color3-600);
  cursor: pointer;
  user-select: none;

  &.is-disabled {
    color: var(--color3-250);
    cursor: not-allowed;

    // Default
    .checkmark {
      background-color: var(--checkbox-disabled-background-color);
      border-color: var(--checkbox-disabled-border-color);
    }

    // Checked
    input:checked ~ .checkmark {
      background-color: var(--checkbox-disabled-checked-background-color);
      border-color: var(--checkbox-disabled-border-color);

      .icon-checkmark path {
        stroke: var(--color3-300);
      }
    }
  }

  &.has-error {
    // Default
    .checkmark {
      border-color: var(--checkbox-error-border-color);
    }

    // Checked
    input:checked ~ .checkmark {
      background-color: var(--checkbox-error-checked-background-color);
      border-color: var(--checkbox-error-border-color);
    }

    // Disabled
    input:disabled ~ .checkmark {
      background-color: var(--checkbox-error-disabled-background-color);
      border-color: var(--checkbox-error-border-color);
    }

    // Checked + Disabled
    input:checked:disabled ~ .checkmark {
      background-color: var(--checkbox-error-checked-disabled-background-color);
      border-color: var(--checkbox-error-border-color);

      .icon-checkmark path {
        stroke: rgba(var(--error-500-rgb), .5);
      }
    }
  }

  &.lg {
    height: 24px;
    padding: 0 0 0 36px;
    font-size: 16px;
    line-height: 1.125;

    .checkmark {
      width: 24px;
    }

    .icon-warning {
      width: 22px;
      height: 19px;
      margin: 0 0 0 8px;
    }
  }

  &.md {
    height: 20px;
    padding: 0 0 0 28px;

    .checkmark {
      width: 20px;
    }

    .icon-warning {
      width: 18px;
      height: 16px;
      margin: 0 0 0 8px;
    }
  }

  &.sm {
    height: 16px;
    padding: 0 0 0 24px;

    .checkmark {
      width: 16px;
    }

    .icon-warning {
      width: 15px;
      height: 13px;
      margin: 0 0 0 8px;
    }
  }

  input {
    cursor: pointer;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;

    &:checked ~ .checkmark {
      background-color: var(--checkbox-checked-background-color);
      border-color: var(--checkbox-checked-border-color);

      .icon-checkmark {
        opacity: 1;
      }
    }

    &:checked:hover ~ .checkmark {
      background-color: var(--checkbox-checked-hover-background-color);
      border-color: var(--checkbox-checked-hover-border-color);
    }

    &:focus ~ .checkmark {
      border-color: var(--checkbox-focus-border-color);
      box-shadow: 0 0 0 2px var(--checkbox-focus-ring-color);
    }

    &:focus:checked ~ .checkmark {
      border-color: var(--checkbox-focus-checked-border-color);
    }
  }
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--checkbox-default-background-color);
  border: 1px solid var(--checkbox-default-border-color);
  border-radius: 4px;
  height: 100%;
  transition: .2s background-color;
  border-radius: var(--checkbox-border-radius);
}

.icon-checkmark {
  opacity: 0;
  transition: .25s opacity;

  path {
    stroke: var(--white-000);
  }
}

.icon-warning {
  path {
    fill: var(--error-500);
  }
}
