.checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  color: var(--color3-600);
  cursor: pointer;
  user-select: none;

  input:disabled {
    color: var(--color3-250);
    cursor: not-allowed;

    // Default
    ~ .checkmark {
      background-color: var(--color3-100);
      border-color: var(--color3-200);

      .icon-check {
        opacity: 1;
      }
    }

    // Checked
    &:checked ~ .checkmark {
      background-color: rgba(var(--color3-300-rgb), .5);
      border: none;

      .icon-check path {
        stroke: var(--color3-300);
      }
    }
  }

  &.has-error {
    // Default
    .checkmark {
      border-color: var(--error-500);
    }

    // Checked
    input:checked ~ .checkmark {
      background-color: var(--error-500);
      border-color: var(--error-500);
    }

    // Disabled
    input:disabled ~ .checkmark {
      background-color: var(--error-100);
      border-color: var(--error-300);

      .icon-check {
        opacity: 1;

        path {
          stroke: var(--white-000);
        }
      }
    }

    // Checked + Disabled
    input:checked:disabled ~ .checkmark {
      background-color: rgba(var(--error-300-rgb), .5);
      border-color: rgba(var(--error-500-rgb), .5);

      .icon-check path {
        stroke: rgba(var(--error-500-rgb), .5);
      }
    }
  }

  &.lg {
    height: 24px;
    padding: 0 0 0 36px;
    font-size: 16px;
    line-height: 1.125;

    .checkmark {
      width: 24px;
    }

    .icon-warning {
      width: 22px;
      height: 19px;
      margin: 0 0 0 8px;
    }
  }

  &.md {
    height: 20px;
    padding: 0 0 0 28px;

    .checkmark {
      width: 20px;
    }

    .icon-warning {
      width: 18px;
      height: 16px;
      margin: 0 0 0 8px;
    }
  }

  &.sm {
    height: 16px;
    padding: 0 0 0 24px;

    .checkmark {
      width: 16px;
    }

    .icon-warning {
      width: 15px;
      height: 13px;
      margin: 0 0 0 8px;
    }
  }

  input {
    cursor: pointer;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;

    &:checked ~ .checkmark {
      background-color: var(--color-500);
      border-color: var(--color-500);

      .icon-check {
        opacity: 1;
      }
    }

    &:focus ~ .checkmark {
      box-shadow: 0 0 0 2px var(--color-500);
    }

    &:focus:checked ~ .checkmark {
      border-color: var(--white-000);
    }
  }
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-000);
  border: 1px solid var(--color3-400);
  border-radius: 4px;
  height: 100%;
  transition: .2s background-color;
}

.icon-check {
  opacity: 0;
  transition: .25s opacity;

  path {
    stroke: var(--white-000);
  }
}

.icon-warning {
  path {
    fill: var(--error-500);
  }
}
