body {
  font-family: var(--font-stack-base);
  background-color: var(--white-000);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: var(--black-000);
}

::selection {
  background-color: var(--color-500);
  color: var(--white-000);
}

/*
  This will hide the focus indicator if the element receives focus via the mouse,
  but it will still show up on keyboard focus.
*/

.js-focus-visible :focus:not(.focus-visible) {
  outline: 0;
}

.js-focus-visible .focus-visible {
  outline: 2px solid var(--color-500);
  outline-offset: 2px;
}
