div[class^='container'] {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-right: 32px;
  padding-left: 32px;

  @media screen and (max-width: $bp-tablet-md) {
    padding-right: 24px;
    padding-left: 24px;
  }

  @media screen and (max-width: $bp-mobile-lg) {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.container-fluid,
[data-container-fluid] {
  width: 100%;
}

.container-lg,
[data-container-size='lg'] {
  max-width: 1440px;
}

.container-md,
[data-container-md] {
  max-width: 1120px;
}

.container-sm,
[data-container-sm] {
  max-width: 992px;
}
